@model IEnumerable<MyDB.Models.Order>

@{
    ViewBag.Title = "Admin | Danh sách đơn hàng";
}

@section header{
    <link href="~/Assets/Admin/css/jquery.dataTables.min.css" rel="stylesheet" />
}
@section footer{
    <script src="~/Assets/Admin/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content my-3">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <strong class="text-danger text-uppercase">Danh sách đơn hàng</strong>
                    </div>

                </div>
            </div>
            <div class="card-body">
                @Html.Partial("Message")
                <table class="table table-bordered table-striped" id="myTable">
                    <thead>

                        <tr>
                            <th>Ngày đặt</th>
                            <th>Người nhận</th>
                            <th>SDT người nhận</th>
                            <th>Địa chỉ người nhận</th>
                            <th>Phương thức thanh toán</th>
                            <th>Trạng thái đơn hàng</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>@string.Format("{0:dd/MM/yyyy}", item.TimeOrder)</td>
                                <td>@Html.DisplayFor(modelItem => item.ReceiverName)</td>
                                <td>@Html.DisplayFor(modelItem => item.ReceiverPhone)</td>
                                <td>@Html.DisplayFor(modelItem => item.ReceiverAddress)</td>
                                <td>@Html.DisplayFor(modelItem => item.PayMethod)</td>
                                <td>
                                    @switch (item.Status)
                                    {
                                        case 0:
                                            <button  type="button" class="btn btn-sm btn-danger">Đơn hàng đã hủy</button>
                                            break;
                                        case 1:
                                            <button type="button" class="btn btn-sm btn-warning">Đang chờ xác nhận đơn hàng</button>
                                            break;
                                        case 2:
                                            <button type="button" class="btn btn-sm btn-info">Đã xác nhận đơn hàng</button>
                                            break;
                                        case 3:
                                            <button type="button" class="btn btn-sm btn-primary">Đơn hàng đang vận chuyển</button>
                                            break;
                                        case 4:
                                            <button type="button" class="btn btn-sm btn-success">Giao hàng thành công</button>
                                            break;

                                    }
                                </td>
                                <td>
                                    <a href="@Url.Action("Details","Order", new { id = item.Id })" class="btn btn-sm btn-info">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>



