@model MyDB.Models.User

@{
    ViewBag.Title = "Admin | Chi tiết khách hàng";
}

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content my-3">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <strong class="text-danger text-uppercase">Chi tiết khách hàng</strong>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="@Url.Action("Index","User")" class="btn btn-sm btn-info">
                            <i class="fas fa-arrow-left"></i> Về trang chủ
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>
                            Mã KH
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.Id)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tên KH
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.Fullname)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Giới tính
                        </td>

                        <td>
                            @if (Model.Gender == true)
                            {
                                <span>Nam</span>
                            }
                            else
                            {
                                <span>Nữ</span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Email)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.Email)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Mật khẩu
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.Password)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Địa chỉ
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.Address)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Số điện thoại
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.Phone)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Quyền
                        </td>

                        <td>
                            @if (Model.Role == true)
                            {
                                <span>Quản trị</span>
                            }
                            else
                            {
                                <span>Khách hàng</span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ngày tạo
                        </td>

                        <td>@string.Format("{0:dd/MM/yyyy}", Model.CreateAt)</td>

                    </tr>
                    <tr>
                        <td>
                            Người tạo
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.CreateBy)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ngày cập nhật
                        </td>

                        <td>@string.Format("{0:dd/MM/yyyy}", Model.UpdateAt)</td>

                    </tr>
                    <tr>
                        <td>
                            Người cập nhật
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.UpdateBy)
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Trạng thái
                        </td>

                        <td>
                            @if (Model.Status == 1)
                            {
                                <span class="text-success">Hoạt động</span>
                            }
                            else
                            {
                                <span  class="text-danger">Ngừng hoạt động</span>
                            }
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>

